<div class='row'>
  <div class='col-md-6'>
    <%= form_for :lead do |f| %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class:'form-control', required:'true'%>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, class:'form-control'%>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, class:'form-control', required:'true'%>
      </div>
      <div class="field">
        <%= f.label :company %><br>
        <%= f.text_field :company, class:'form-control'%>
      </div>
      <div class="field">
        <%= f.label :job_title %><br>
        <%= f.text_field :job_title, class:'form-control'%>
      </div>
      <div class="field">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, class:'form-control'%>
      </div>
      <div class="field">
        <%= f.label :website %><br>
        <%= f.text_field :website, class:'form-control'%>
      </div>
      <br>
      <div class="actions">
        <%= f.submit%>
      </div>
    <% end %>
  </div>
</div>
