<% provide(:title, 'Listing Leads') %>

<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>All Leads</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Job title</th>
        <th>Phone</th>
        <th>Website</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <td><%= lead[:id] %></td>
          <td><%= lead[:name] %></td>
          <td><%= lead[:last_name] %></td>
          <td><%= lead[:email] %></td>
          <td><%= lead[:company] %></td>
          <td><%= lead[:job_title] %></td>
          <td><%= lead[:phone] %></td>
          <td><%= lead[:website] %></td>
          <td><%= link_to "Integrate", 'leads/integrate/' + lead[:id].to_s, class: "btn btn-primary" %>
          <td><%= link_to 'Delete', 'leads/delete/' + lead[:id].to_s, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %></td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Lead', new_path %>

</div>
