<p id="noticerr"><%= notice %></p>

<div class="jumbotron">
  <h1>Integrate <%= @lead["name"] %> with Salesforce</h1>

  <div class="row">
    <%= form_for :lead_integrate do |f| %>
      <div class="col-md-6">
          <strong>Map?</strong>
          <div class="field">
            <%= f.check_box :name_mapping, {}, "true", "false" %>
            <strong>Name:</strong>
            <%= @lead["name"] %>
          </div>
          <div class="field">
            <%= f.check_box :last_name_mapping, {:checked => true, :disabled => true}, "true", "false" %>
            <strong>Last name:</strong>
            <%= @lead["last_name"] %>
          </div>
          <div class="field">
            <%= f.check_box :email_mapping, {}, "true", "false" %>
            <strong>Email:</strong>
            <%= @lead["email"] %>
          </div>
          <div class="field">
            <%= f.check_box :company_mapping, {:checked => true, :disabled => true}, "true", "false" %>
            <strong>Company:</strong>
            <%= @lead["company"] %>
          </div>
          <div class="field">
            <%= f.check_box :job_title_mapping, {}, "true", "false" %>
            <strong>Job title:</strong>
            <%= @lead["job_title"] %>
          </div>
          <div class="field">
            <%= f.check_box :phone_mapping, {}, "true", "false" %>
            <strong>Phone:</strong>
            <%= @lead["phone"] %>
          </div>
          <div class="field">
            <%= f.check_box :website_mapping, {}, "true", "false" %>
            <strong>Website:</strong>
            <%= @lead["website"] %>
          </div>
      </div>

      <div class="col-md-6">
        <div class="field">
          <%= f.label :username %><br>
          <%= f.text_field :username, class:'form-control', required:'true'%>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password, class:'form-control', required:'true'%>
        </div>
        <div class="field">
          <%= f.label :token %><br>
          <%= f.text_field :token, class:'form-control', required:'true'%>
        </div>
        <br>
        <div class="actions">
          <%= f.submit %>
        </div>
        <br>
        <%= link_to 'Back', leads_path %>
      </div>

    <% end %>

  </div>
</div>
